@model List<TravelUp_Task.Models.Item>

<h2>Items</h2>
<ul id="itemList">
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>

<a href="/Items/Create">Add Item</a><a href="c:\users\shinob\source\repos\travelup-task\travelup-task\views\items\index.cshtml.cs">c:\users\shinob\source\repos\travelup-task\travelup-task\views\items\index.cshtml.cs</a>
<a href="c:\users\shinob\source\repos\travelup-task\travelup-task\views\items\index.cshtml">c:\users\shinob\source\repos\travelup-task\travelup-task\views\items\index.cshtml</a>